{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}
<a href="/adlogout">Logout </a>
<a href="/add">+Maids</a>
<br>
<h1 align="center">Maids</h1>
<table class="table">
   <thead>
      <tr>
         <th scope="col">#ID</th>
         <th scope="col">Name</th>
      </tr>
   </thead>
   <tbody>
      {%for maid in userList%}
      <tr>
         <th scope="row">{{maid.id}}</th>
         <td>{{maid.name}}</td>
      </tr>
      {%endfor%}
   </tbody>
</table>
{% endblock %}