{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<h1>This is the admin page</h1>
<h1 align="center">Names</h1>
<ul class="list-group list-group-flush" id="notes">
   {% for name in Name %}
   <li class="list-group-item">
      {{ name.data }}
   </li>
   {% endfor %}
</ul>
<form method="POST">
   <textarea name="name" id="name" class="form-control"></textarea>
   <br />
   <div align="center">
      <button type="submit" class="btn btn-primary">Add Name</button>
   </div>
</form>
{% endblock %}