{% extends "base.html" %} {% block title %}Signup{% endblock %}<
{% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <br>
    <div class ="form-group">
        <label for="username">Enter a username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
    </div>
    <br>
    <button type="submit" class="cta">Submit
    </button>
    <p>or</p>
    <a class="nav-link" href="/adlogin">Login</a>
</form>
{% endblock %}