<!-- repl name:  IlllIIllIllIllI  -->
<!--  Goal: make a responsive landing page: Done
   Goal: create home page for chore calendar
   Goal: build a backend for data
   -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Chore App{% endblock %}</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="static/chorestyle.css">
   </head>
   <body>
      <div class= "container">
         <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
               {% if current_user.is_authenticated %}
               <li class="nav-item"> <a class="nav-link" href='/admin'> Home </a> </li>
               <li class="nav-item"> <a class="nav-link" href='/add'> Add </a> </li>
               {% endif %}
            </div>
         </div>
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% for category, message in messages %}
         {% if category == 'error' %}
         <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         {% else %}
         <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         {% endif %}
         {% endfor %}
         {% endif %}
         {% endwith %}
         <!--always choose vector images opposed to jpeg and png-->
      </div>
      <center>
         <div class= "blue-container">
            <h1 color= >January</h1>
            <hr color="black">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
         </div>
      </center>
      <!-- @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600'); -->
   </body>
</html>