<!-- repl name:  IlllIIllIllIllI  -->
<!--  Goal: make a responsive landing page: Done
   Goal: create home page for chore calendar
   Goal: build a backend for data -->
{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<h1 align="center">Chores</h1>
<table class="table" id = "choreTable">
  <thead>
    <tr>
      <th>Chad</th>
      <th>Floors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>
{% endblock %}